<div class="container">
  <div class="login-form">
    <div class="main-div">
      <div class="panel">
        <h2>Registration</h2>
      </div>
      <form #register="ngForm">
        <div class="form-group">
          <input type="text" class="form-control" required id="inputfirstName" placeholder="firstName" name="firstName" [(ngModel)]="user.firstName">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" required id="inputlastName" placeholder="lastName" name="lastName" [(ngModel)]="user.lastName">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" required id="inputMobileNumber" placeholder="mobileNumber" name="mobileNumber" [(ngModel)]="user.mobileNumber">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" required id="inputEmail" placeholder="email" name="email" [(ngModel)]="user.email">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" required id="inputPassword" placeholder="Password" name="password" [(ngModel)]="user.password">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" required id="inputConfirmPassword" placeholder="Confirm Password" name="confirmpassword" [(ngModel)]="user.confirmpassword">
        </div>
        <button type="submit" class="btn btn-primary" (click)="userRegistration()" [disabled]="register.form.invalid">Register</button>

      </form>
    </div>
  </div>
</div>

