<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Influencer</h4>
                    </div>
                    <div class="content">
                        <form>
                            <div class="row">
                                <div class="col-md-3 pull-left">
                                    <button type="button" class="btn btn-primary" (click)="addPromoter()">ADD</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-2 pull-left">
                                            <label class="control-label">Rows per page</label>
                                            <select class="form-control" [(ngModel)]="pageSize" name="pageSize"
                                                    (ngModelChange)="onPageSizeChanged($event)">
                                                <option *ngFor="let opt of limitOptions"
                                                        [value]="opt.value">{{opt.key}}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <ngx-datatable
                                        #myTable
                                        class='material'
                                        [columnMode]="'force'"
                                        [headerHeight]="40"
                                        [footerHeight]="50"
                                        [rowHeight]="'auto'"
                                        [externalPaging]="true"
                                        [count]="totalSize"
                                        [offset]="currentPage"
                                        [limit]=pageSize
                                        [rows]='rows'
                                        (page)="pageCallback($event)"
                                    >

                                        <ngx-datatable-column>
                                            <ng-template ngx-datatable-header-template>
                                                <span>Influencer Schema Id</span>
                                            </ng-template>
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <strong>{{row.promoterSchemaId}}</strong>
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <ngx-datatable-column>
                                            <ng-template ngx-datatable-header-template>
                                                <span>Influencer Name</span>
                                            </ng-template>
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <strong>{{row.promoterName}}</strong>
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <ngx-datatable-column>
                                            <ng-template ngx-datatable-header-template>
                                                <span>URL</span>
                                            </ng-template>
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <strong>{{row.url}}</strong>
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <ngx-datatable-column>
                                            <ng-template ngx-datatable-header-template>
                                                <span>Decription</span>
                                            </ng-template>
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <strong>{{row.decription}}</strong>
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <ngx-datatable-column>
                                            <ng-template ngx-datatable-header-template>
                                                <span>Email Id</span>
                                            </ng-template>
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <strong>{{row.emailId}}</strong>
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <ngx-datatable-column>
                                            <ng-template ngx-datatable-header-template>
                                                <span>Influencer Count</span>
                                            </ng-template>
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <strong>{{row.totalCount}}</strong>
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="Total Count">
                                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                                <strong>{{row.influencerCount}}</strong>
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <ngx-datatable-column>
                                            <ng-template ngx-datatable-header-template>
                                                <span>Influencer</span>
                                            </ng-template>
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <button class="btn btn-primary" (click)="influencerpopup(row)">
                                                    Influencer
                                                </button>
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <ngx-datatable-column>
                                            <ng-template ngx-datatable-header-template>
                                                <span>Action</span>
                                            </ng-template>
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <button class="btn btn-primary" (click)="signup(row.promoterSchemaId)">
                                                    Go to link
                                                </button>
                                            </ng-template>
                                        </ngx-datatable-column>
                                    </ngx-datatable>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="backdrop" [ngStyle]="{'display':display}"></div>
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" *ngIf="!editBlock">Add Influencer</h4>
                <!--        <h4 class="modal-title" *ngIf="editBlock">Edit Promoter</h4>-->
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Influencer Name</label>
                    <input type="text" class="form-control" placeholder="Influencer Name" [(ngModel)]="promoterName"
                           (keyup)="checkValue()">
                </div>
                <div class="form-group">
                    <label>URL</label>
                    <input type="text" class="form-control" placeholder="url" [(ngModel)]="Url"
                           (keyup)="checkValue()">
                </div>
                <div class="form-group">
                    <label>Decription</label>
                    <input type="text" class="form-control" placeholder="Decription" [(ngModel)]="decription"
                           (keyup)="checkValue()">
                </div>
                <div class="form-group">
                    <label>Email Id</label>
                    <input type="text" class="form-control" placeholder="Email Id" [(ngModel)]="emailId"
                           (keyup)="checkValue()">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="onCloseHandled()">Close</button>
                <button type="button" class="btn btn-primary" (click)="saveCategory()" [disabled]="btndisable">Save
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal !-->

<!--<div class="backdrop" [ngStyle]="{'display':display1}"></div>-->
<!--<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display1}">-->
<!--    <div class="modal-dialog" role="document">-->
<!--        <div class="modal-content">-->
<!--            <div class="modal-header">-->
<!--                <button type="button" class="close" aria-label="Close" (click)="onCloseofInfluencerHandled()"><span-->
<!--                        aria-hidden="true">&times;</span></button>-->
<!--                <h4 class="modal-title">Total URL of an Influencer</h4>-->
<!--            </div>-->
<!--            <ngx-datatable-->
<!--                #myTable-->
<!--                class='material'-->
<!--                [columnMode]="'force'"-->
<!--                [headerHeight]="40"-->
<!--                [footerHeight]="50"-->
<!--                [rowHeight]="'auto'"-->
<!--                [externalPaging]="true"-->
<!--                [count]="totalidata"-->
<!--                [offset]=1-->
<!--                [limit]=totalidata-->
<!--                [rows]='iData'-->
<!--                (page)="pageCallback($event)"-->
<!--            >-->
<!--            <ngx-datatable-column name="Influencer Id">-->
<!--                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>-->
<!--                    <strong>{{value}}</strong>-->
<!--                </ng-template>-->
<!--            </ngx-datatable-column>-->
<!--            <ngx-datatable-column name="Influencer Url">-->
<!--                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>-->
<!--                    <strong>{{value}}</strong>-->
<!--                </ng-template>-->
<!--            </ngx-datatable-column>-->
<!--            <ngx-datatable-column name="Influencer Count">-->
<!--                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>-->
<!--                    <strong>{{value}}</strong>-->
<!--                </ng-template>-->
<!--            </ngx-datatable-column>-->
<!--                <ngx-datatable-column>-->
<!--                    <ng-template ngx-datatable-header-template>-->
<!--                        <span>Action</span>-->
<!--                    </ng-template>-->
<!--&lt;!&ndash;                    <ng-template let-row="row" ngx-datatable-cell-template>&ndash;&gt;-->
<!--&lt;!&ndash;                        <button class="btn btn-primary" (click)="dashboard(row)">&ndash;&gt;-->
<!--&lt;!&ndash;                            Go to link&ndash;&gt;-->
<!--&lt;!&ndash;                        </button>&ndash;&gt;-->
<!--&lt;!&ndash;                    </ng-template>&ndash;&gt;-->
<!--                </ngx-datatable-column>-->
<!--            </ngx-datatable>-->

<!--            <div class="modal-footer">-->
<!--                <button type="button" class="btn btn-danger" (click)="onCloseofInfluencerHandled()">Close</button>-->
<!--                &lt;!&ndash;                <button type="button" class="btn btn-primary" (click)="saveCategory()" [disabled]="btndisable">Save&ndash;&gt;-->
<!--            </div>-->
<!--        </div>&lt;!&ndash; /.modal-content &ndash;&gt;-->
<!--    </div>&lt;!&ndash; /.modal-dialog &ndash;&gt;-->
<!--</div>&lt;!&ndash; /.modal !&ndash;&gt;-->

<div class="backdrop" [ngStyle]="{'display':display1}"></div>
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display1}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="onCloseofInfluencerHandled()"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{model}}</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="content table-responsive table-full-width" *ngIf="iData">
                        <div class="col-md-12">
                            <table class="table table-hover">
                                <tbody>
                                <td>&nbsp;&nbsp;
                                    <label>Influencer Id</label>
                                </td>
                                <td>&nbsp;&nbsp;
                                    <label>Influencer Url</label>
                                </td>
                                <td>
                                    <label>Influencer Count</label>
                                </td>
                                <td>
                                    <label>Action</label>
                                </td>
                                <tr></tr>
                                <div *ngIf="!totalidata; else table">
                                    No Influencer data
                                </div>

                                <ng-template #table>
                                    <tr *ngFor="let row of iData; let i = index;">
                                        <td>{{ iData[i].influencerId }}</td>
                                        <td>{{ iData[i].influencerUrl }}</td>
                                        <td>{{ iData[i].influencerCount }}</td>
                                        <td>
                                            <button class="btn btn-primary" (click)="dashboard(row)">
                                                Go to link
                                            </button>
                                        </td>
                                    </tr>
                                </ng-template>

                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Influencer Url</label>
                                <input type="text" [ngModelOptions]="{standalone: true}" #r="ngModel"
                                       [(ngModel)]="influencerUrl"
                                       class="form-control" placeholder="Url" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <button class="btn btn-success btn-fill pull-right" style="margin-top: 20px" [disabled]="!(r.valid)"
                                        (click)="addData(influencerUrl)">+
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="onCloseofInfluencerHandled()">Close</button>
                <!--                <button type="button" class="btn btn-primary" (click)="save()">Save-->
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal !-->
